#about,
#work,
#projects,
#contact {
  scroll-margin-top: 50px;
}

@media (max-width: 768px) {
  .navbar-toggle-show {
    display: flex;
  }
}
.jumbotron .container {
  padding: 50px;
  margin: 20px auto;
  background-color: gainsboro;
  border-radius: 10px;
}

.navbar {
  height: 80px;
}

.navbar .navbar-brand {
  font-size: 25px;
}

.navbar .nav-link {
  font-size: 20px;
}

.jumbotron .display-4 {
  font-size: 40px;
  font-weight: 320;
}

.jumbotron .sub-header {
  font-weight: 350;
}

.project-card {
  margin: 20px auto;
  width: auto;
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

.form-group .form-control {
  border-radius: 5px;
}

.form-group {
  margin: 15px;
}

.contact-button {
  margin-top: 15px;
  padding: 15px 20px;
  border-radius: 10px;
}
